.container {
  padding: 1em;
  display: flex;
  margin: auto;
}

.left-side {
  width: 50%;
  display: block;
}

.right-side {
  width: 50%;
  display: inline;
}

.table, td, th{
  border: 1px, solid, black;
}

.table-style {
  border-collapse: collapse;
  width: 100%;
  max-width: 700px;
}

.th-style {
  background-color: beige;
}

.td-style {
  text-align: center;
}

.input-zone {
  margin-bottom: 10px;
}

.error-style {
  color: brown;
  font-weight: bold;
}