#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.container {
  height: 600px;
  width: 1800px;
  padding: 1em;
  display:block;
  margin: auto;
}

.left-side {
  width: 50%;
  display: block;
}

.right-side {
  width: 50%;
  display: inline;
}

.read-the-docs {
  color: #888;
}
